config/essentials/zsh/.zcompdump
config/essentials/zsh/histfile
config/essentials/gnupg/*
config/common/mpv/watch_later/*
config/common/mpv/playfile.txt
config/common/mpd/database
config/essentials/nvim/plugin/
config/common/newsboat/urls
config/extra/jftui/settings
config/essentials/nvim/spell/
bin/common/stowdots
config/extra/mutt/muttrc
