bin/common/stowdots
config/common/mpd/database
config/common/mpv/playfile.txt
config/common/mpv/watch_later/*
config/common/newsboat/nb_urls
config/common/newsboat/urls
config/essentials/gnupg/*
config/essentials/nvim/plugin/
config/essentials/nvim/spell/
config/essentials/zsh/histfile
config/essentials/zsh/.zcompdump
config/extra/jftui/settings
config/extra/mutt/muttrc
config/old/vim/plugged/
config/old/vim/viminfo*
