bin/common/stowdots
config/common/btop/
config/common/mpd/database
config/common/mpd/pid
config/common/mpv/playfile.txt
config/common/mpv/watch_later/*
config/common/newsboat/nb_urls
config/common/newsboat/urls
config/essentials/gnupg/*
config/essentials/nvim/lua/.luarc.json
config/essentials/nvim/plugin/
config/essentials/nvim/spell/
config/essentials/zsh/.zcompdump
config/essentials/zsh/histfile
config/extra/jftui/settings
config/extra/jftui/watch_later/*
config/extra/mutt/muttrc
config/extra/pikaur.conf
config/hyprland/foot/colors
config/hyprland/tofi/config
config/hyprland/tofi/themes/colors
config/hyprland/waybar/colors.css
config/old/vim/plugged/
config/old/vim/viminfo*
config/theme/gtk-3.0/bookmarks
