/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */
/* https://github.com/jakehamilton/dotfiles */
/* Amazing I love it :))) */

@import "colors.css";

* {
	border: none;
	border-radius: 0;
	font-family: monospace;
	font-weight: bold;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: @background;
	background: @color7;
}

#mpd, #battery,
#window,
#custom-wireguard, #network, #pulseaudio, #temperature, #cpu, #custom-memory {
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 26px;
}

#workspaces, #mpd, #battery, #clock,
#window,
#custom-wireguard, #network, #pulseaudio, #temperature, #cpu, #custom-memory, #tray {
	border: solid @background 2px;
	margin-top: 4px;
	margin-bottom: 2px;
	transition: none;
}

#battery {
	color: @color6;
	background: @background;
	border-color: @color4;
}

#workspaces {
	margin-left: 12px;
	border-radius: 26px;
	background: @color3;
}

#workspaces button {
	transition: none;
	background: transparent;
	font-size: 16px;
	color: @background;
}

#workspaces button.active {
	text-shadow: 0px 1px 0px @color1;
}

#workspaces button:hover {
	transition: none;
	color: @color8;
}

#mpd {
	color: @background;
	background: @color6;
}

#mpd.disconnected,
#mpd.stopped {
	color: @foreground;
	background: @background;
	border-color: @color4;
}

#clock {
	margin-top: 4px;
	margin-bottom: 2px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 26px;
	color: @color3;
	background: @background;
	border-color: @color4;
}

#window {
	color: @background;
	background: @color4;
}

#custom-wireguard {
	color: @color5;
	border-color: @color8;
	background: @background;
}

#network {
	color: @background;
	background: @color5;
}

#pulseaudio {
	color: @background;
	background: @color4;
}

#temperature {
	color: @background;
	background: @color3;
}

#cpu {
	color: @background;
	background: @color4;
}

#custom-memory {
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 26px;
	color: @background;
	background: @color5;
}

#tray {
	border: none;
	margin-right: 12px;
	color: @foreground;
	background: transparent;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color1;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
