/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */
/* https://github.com/jakehamilton/dotfiles */
/* Amazing I love it :))) */

@import "colors.css";

* {
	border: none;
	border-radius: 0;
	font-family: monospace;
	font-weight: bold;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

tooltip {
	background: @background;
	color: @foreground;
	border: 2px solid @color0;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: @background;
	background: @color7;
}

.modules-right * {
	padding: 0 16px;
}

.modules-right {
	margin-right: 2px;
}
.modules-left {
	margin-left: 2px;
}

#workspaces, #mpd, #battery, #clock,
#custom-wireguard, #network, #pulseaudio, #temperature, #cpu, #custom-memory, #tray {
	border: solid @background;
	border-width: 2px 2px 2px 0;
	margin-top: 4px;
	margin-bottom: 2px;
	transition: none;
}

#battery {
	color: @color6;
	background: @background;
	border-color: @color4;
}

#workspaces {
	border: solid @background 2px;
	background: @color3;
}

#workspaces button {
	transition: none;
	background: transparent;
	font-size: 16px;
	color: @background;
}

#workspaces button.active {
	text-shadow: 0px 1px 0px @color1;
}

#workspaces button:hover {
	transition: none;
	color: @color8;
}

#mpd {
	color: @background;
	background: @color6;
}

#mpd.disconnected,
#mpd.stopped {
	color: @foreground;
	background: @background;
	border-color: @color4;
}

#clock {
	border: solid @color4 2px;
	padding: 0 16px;
	color: @color3;
	background: @background;
}

#window {
	margin-left: 16px;
	padding: 0;
	color: @color5;
}

#custom-wireguard {
	color: @color5;
	border: 2px solid @color8;
	background: @background;
}

#network {
	color: @background;
	border-left: 2px solid @background;
	background: @color5;
}

#pulseaudio {
	color: @background;
	background: @color4;
}

#temperature {
	color: @background;
	background: @color3;
}

#cpu {
	color: @background;
	background: @color4;
}

#custom-memory {
	padding: 0 16px;
	color: @background;
	background: @color5;
}

#tray {
	all: initial;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color1;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
