#!/bin/sh

feh --no-fehbg --bg-scale "$HOME"/pics/wallpaper &

setxkbmap us -variant colemak -option ctrl:swapcaps,altwin:menu_win &

# TODO: check if this is home
if [ "$(hostname)" = "winter" ]; then
    (
        CurrentOutput="$(xrandr | grep '\bconnected\b' | awk '{print $1}')" 
        xrandr --output "$CurrentOutput" --mode 1920x1080 --rate 144
    ) &
fi

picom -b &

# xautolock -locker slock &

gammastep -m randr &
ntfy transmission &
herbimisu &
slstatus &
# upds &
unclutter --timeout 3 --jitter 50 -b &
202020 &

echo 4
if [ "$(hostname)" = "winter" ]; then
    signal-desktop &
    discord &
fi
st -e "sh" "-c" "pgrep tmux && tmux a || tmux" &

printf '%s\t%s' "$(date +%y_%m_%d-%T )" "$DISPLAY" >> ~/.x_displays.log &
