#!/bin/sh

feh --no-fehbg --bg-scale "$HOME"/pics/wallpaper &

setxkbmap us -variant colemak -option ctrl:swapcaps,altwin:menu_win &

# TODO: check if this is home
if [ "$(hostname)" = "winter" ]; then
    (
        CurrentOutput="$(xrandr | grep '\bconnected\b' | awk '{print $1}')" 
        xrandr --output "$CurrentOutput" --mode 1920x1080 --rate 144
    ) &
fi

if [ "$(hostname)" = "spring" ]
then
    tail -f ~/src/xob/scripts/volume.pipe | xob &
else
    ~/src/xobs/env/bin/python ~/src/xobs/pulse.py | xob &
fi

picom -b &

# xautolock -locker slock &

gammastep -m randr &
ntfy transmission &
herbimisu &
slstatus &
# upds &
unclutter --timeout 3 --jitter 50 -b &
202020 &

if [ "$(hostname)" = "winter" ]; then
    signal-desktop &
    discord &
fi
st -e "sh" "-c" "pgrep tmux && tmux a || tmux" &

xset s off -dpms &
saveself &
