# TODO: check if this is home
if [ "$HOST" = "winter" ]; then
    (
        CurrentOutput="$(xrandr | grep '\bconnected\b' | awk '{print $1}')" 
        xrandr --output "$CurrentOutput" --mode 1920x1080 --rate 144
    ) &
fi

picom -b &
feh --no-fehbg --bg-scale "$HOME"/pics/wallpaper &
setxkbmap colemak -option ctrl:swapcaps,altwin:menu_win &

# xautolock -locker slock &

gammastep -m randr &
ntfy transmission &
herbimisu &
slstatus &
# upds &
unclutter --timeout 3 --jitter 50 -b &
202020 &

# signal-desktop &
# discord &
st -e "sh" "-c" "pgrep tmux && tmux a || tmux" &
