/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
	border: none;
	border-radius: 0;
	font-family: JetBrains Mono;
	font-weight: bold;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #2e3440;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #2e3440;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #d8dee9;
	background: transparent;
	font-size: 16px;
}

#workspaces button.active {
	color: #88c0d0;
}

#workspaces button:hover {
	transition: none;
	color: #b48ead;
}

#mpd {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #2e3440;
	transition: none;
	color: #2e3440;
	background: #88c0d0;
}

#mpd.disconnected,
#mpd.stopped {
	color: #d8dee9;
	background: #2e3440;
}

#window {
	color: #88c0d0;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #2e3440;
	background: #5e81ac;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #2e3440;
	background: #bf616a;
}

#temperature {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #2e3440;
	background: #d08770;
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #2e3440;
	background: #ebcb8b;
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #2e3440;
	background: #a3be8c;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #d8dee9;
	background: #2e3440;
}

#tray {
	margin-top: 8px;
	margin-right: 12px;
	margin-bottom: 0;
	transition: none;
	color: #d8dee9;
	background: transparent;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
