/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */
/* https://github.com/jakehamilton/dotfiles */
/* Amazing I love it :))) */

* {
	border: none;
	border-radius: 0;
	font-family: JetBrains Mono;
	font-weight: bold;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #2e3440;
	background: #e6e6e6;
}

#mpd, #battery,
#network, #pulseaudio, #temperature, #cpu, #custom-memory {
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
}

#workspaces, #mpd, #battery,
#network, #pulseaudio, #temperature, #cpu, #custom-memory, #workspaces, #clock, #tray {
	margin-top: 4px;
	margin-bottom: 2px;
	transition: none;
	border-radius: 6px;
}

#battery {
	color: #b48ead;
	background: #4c566a;
}

#workspaces {
	margin-left: 12px;
	background: #2e3440;
}

#workspaces button {
	transition: none;
	color: #d8dee9;
	background: transparent;
	font-size: 16px;
}

#workspaces button.active {
	color: #a3be8c;
    text-shadow: 0px 0px 1px #a3be8c;
}

#workspaces button:hover {
	transition: none;
	color: #d08770;
}

#mpd {
	color: #2e3440;
	background: #88c0d0;
}

#mpd.disconnected,
#mpd.stopped {
	color: #d8dee9;
	background: #2e3440;
}

#window {
	color: #88c0d0;
}

#network {
	color: #2e3440;
	background: #5e81ac;
}

#pulseaudio {
	color: #2e3440;
	background: #b48ead;
}

#temperature {
	color: #2e3440;
	background: #d08770;
}

#cpu {
	color: #2e3440;
	background: #ebcb8b;
}

#custom-memory {
	color: #2e3440;
	background: #a3be8c;
}

#clock {
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	color: #d8dee9;
	background: #2e3440;
}

#tray {
	margin-right: 12px;
	color: #d8dee9;
	background: transparent;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #bf616a;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
